In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Get data

In [12]:
!wget https://files.grouplens.org/datasets/movielens/ml-20m.zip

/bin/bash: /home/italocosilva/miniconda3/envs/tf/lib/libtinfo.so.6: no version information available (required by /bin/bash)
--2024-01-13 09:13:05--  https://files.grouplens.org/datasets/movielens/ml-20m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198702078 (189M) [application/zip]
Saving to: ‘ml-20m.zip’

ml-20m.zip          100%[===================>] 189.50M  7.82MB/s    in 27s

2024-01-13 09:13:32 (7.14 MB/s) - ‘ml-20m.zip’ saved [198702078/198702078]

## Load raw data

In [2]:
df = pd.read_csv("../data/01_raw/ratings.csv")

In [3]:
df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

# Split out-of-time 20%

In [6]:
df_train = df.sort_values('timestamp').iloc[:int(df.shape[0] * 0.8)]
df_test = df.sort_values('timestamp').iloc[int(df.shape[0] * 0.8):]

## Check timestamps

In [7]:
df_train.timestamp.min(), df_train.timestamp.max()

(789652004, 1256024018)

In [8]:
df_test.timestamp.min(), df_test.timestamp.max()

(1256024023, 1427784002)

## Check shapes

In [9]:
df_train.shape

(16000210, 4)

In [10]:
df_test.shape

(4000053, 4)

## Save data

In [11]:
df_train.to_parquet("../data/02_model_input/df_train.parquet.gzip", compression="gzip")
df_test.to_parquet("../data/02_model_input/df_test.parquet.gzip", compression="gzip")

# Split out-of-sample

In [5]:
df_train, df_test = train_test_split(df, test_size=0.2)

## Check timestamps

In [6]:
df_train.timestamp.min(), df_train.timestamp.max()

(789652009, 1427784002)

In [7]:
df_test.timestamp.min(), df_test.timestamp.max()

(789652004, 1427781651)

## Check shapes

In [8]:
df_train.shape

(16000210, 4)

In [9]:
df_test.shape

(4000053, 4)

## Save data

In [10]:
df_train.to_parquet("../data/02_model_input/df_train_oos.parquet.gzip", compression="gzip")
df_test.to_parquet("../data/02_model_input/df_test_oos.parquet.gzip", compression="gzip")